{% extends "base.html" %} {% block content %}


<body>
  <div id="root">
    {% include 'home/section1.html' %} {% include 'home/section2.html' %} {%
    include 'home/section3.html' %} {% include 'home/sectionphase1.html' %} {%
    include 'home/sectionphase1how.html' %} {% include 'home/sectionphase2.html'
    %} {% include 'home/section4.html' %} {% include 'home/section5.html' %} {%
    include 'home/section7.html' %} {% include 'home/section8.html' %} {%
    include 'home/section9.html' %} {% include 'home/section10.html' %} {%
    include 'home/section11.html' %}
  </div>
</body>
{% endblock %}
